.popup__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;  
  padding: 8px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: border-bottom 0.3s;
  outline-color: #00fcf3;
  background: #c2fff9;
  outline: none;
}

.popup__input:focus {
  background: #eafffd;
}


