.header__logo {
  width: 225px;
  height: 33px;
  object-fit: contain;
  
}

.logo {
  margin-right: 4px;
    font-size: 1.5em;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}
