.header__logo {
  width: 225px;
  height: 33px;
  object-fit: contain;
  color: black;
}

.logo {
  height: 45px;
    margin-right: -3px;
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 104px;
    height: 24px;
    margin: 0 0 0 7px;
  }
}
