.card__description {
  display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0000003b;
    padding: 25px 20px;
    position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    box-sizing: border-box;
    color: white;
}
.card__friend-description {
  display: flex;
  color: white;
  align-items: center;
  background: #0000003b;
  padding: 15px 20px;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
    bottom: 0;
    z-index: 5;
    width: 100%;
    box-sizing: border-box;
}
