a {
  border: none;
  text-decoration: none
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Rubik', Arial, sans-serif;
  
}

.bg-pan-top {
	
  background-image: linear-gradient(0deg,#73b1d1,#6bd4bc);
  background-size: 600% 600%;
  animation: bg-pan-top 15s infinite alternate;
}

.tabs {
  color: #fff;
  display: flex;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 20px;
  
}

.tab {
  padding: 7px 20px;
  border: solid 1px rgb(184, 184, 184);
  color: rgb(184, 184, 184);
  border-top-left-radius: 12px;
  border-top-right-radius: 15px;
  margin-right: 4px;
  border-bottom: none;
  background: linear-gradient(to bottom, rgb(31, 31, 31) 70%, black);
  transition: transform 0.2s ease;
}

.tab_active {
  transform: scale(1.2);
  color: #fff;
  
  border-bottom: none;
}

@keyframes bg-pan-top {
  0% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 50% 0%;
  }
}