.popup_type_details {
  max-width: 430px;
  min-width: 324px;
  width: 90%;
  font-size: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
}

.details-popup__card {
  display: flex;
  flex-direction: column;  
  font-family: 'Rubik', Arial, sans-serif;  
  border-radius: 4px;   
  position: relative;
  overflow: hidden;
  height: 346px;
  
  align-items: center;  
  background: #67C6BB;  
}
.details-popup__adress-main {
  font-size: 1.8em;
}
.details-popup__adress-second {
  font-size: 1em;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.details-popup__icon {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
}
.details-popup__icon-i {
  font-size: 5em;
  
  margin: auto 0;
}
.details-popup__temp-fact {
  font-size: 5em;
 
    position: initial;
}
.details-popup__main-condition {
  font-size: 1.5em;
  margin-top: 15px;
}
.details-popup__condition {
  font-size: 1em;
}
.details-popup__forecast {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr ;
  grid-auto-rows: minmax(min-content, max-content);  
}

.details__border {
  border-color: rgb(44 44 44 / 0%);
    width: 60%;
    background-color: rgb(44 44 44 / 83%);
}

.forecast__day {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px dotted grey; */
  padding: 15px;
  
}
.forecast__day_description {
  font-size: 1em;
  white-space: nowrap;
}
.forecast__day_icon{
  margin: 7px 0px;
    font-size: 2.2em;
}

@media (max-width: 400px){
  .popup__content_details {    
    font-size: 15px;      
  }
}