@import url('./__logo/header__logo.css');
@import url('./__add-button/header__add-button.css');

.header {
  min-height: 120px;  
  font-family: 'Rubik', Arial, sans-serif;
  color: rgb(31, 31, 31);
  display: flex;
  align-items: center;  
  flex-shrink: 0; 
}

.header::before {
  content: '';
    width: 100%;
    height: 1px;
    background: rgb(31, 31, 31);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  transform: translateX(-50%);
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 85px;
  }
  .header::before {
    width: calc(100% + 40px);
  }
}
